*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: black;
}
body>h1{
    color: coral;
    text-align: center;
}
#searchDiv{
    width: 100%;
    height: 60px;
    margin-top: 40px;
}
#searchDiv>input{
    padding: 10px 680px 10px 30px;
    border-radius: 15px;
    outline: none;
    border: 3px rgb(0, 255, 21) solid;
    display: block;
    margin :auto;
    background-color: black;
    color: white;
    font-size: larger;
}
#showImages{
    display: grid;
    grid-template-columns: repeat(4,300px);
    gap: 15px;
}
#showImages>div>img{
    width: 280px;
    height: 280px;
    border-radius: 7px;
    border: 3px rgb(179, 220, 0) solid;
    padding: 4px;
    background-color: black;
}
#showImages>div>h3{
    color: whitesmoke;
}
#searchByFilter{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
#searchByFilter>h3{
    cursor: pointer;
    border-radius: 8px;
    border:3px blue solid;
    padding: 10px;
    color: whitesmoke;
    border-left: 1px ;
    border-right: 1px;
}