body>div{
    display: flex;
    justify-content: space-around;
}
button{
    margin-left: 45%;
    margin-top: 20px;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    background-color: rgb(12, 244, 213);
    font-weight: 900;
}
div>div{
    text-align: center;
    align-content: center;
    width:90px ;
    height: 80px;
    border: 7px dotted black;
    font-size: 60px;
    border-radius: 25px;
    padding-top: 10px;
}
#winner{
    width:200px ;
    height:50px ;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 900;
    padding-top: 30px;
}